/* Configuración de la fuente Nunito */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

.font-nunito {
  font-family: 'Nunito', sans-serif;
}

.font-800 {
  font-weight: 800; /* ExtraBold */
}

.font-normal {
  font-weight: 400; /* Regular */
}