@import "tailwindcss";

.logout-button {
  --background: #DF7A92;
  --color: white;
  --border-radius: 16px;
  --padding-top: 12px;
  --padding-bottom: 12px;

  height: 3.5rem; /* equivale a h-14 */
  font-size: 1.125rem; /* text-lg */
  font-weight: 700; /* font-bold */
  border-radius: 1rem; /* rounded-2xl */
}

